/* CONTENEDOR DE CARTAS */
.cards-grid {
  position: relative;
  margin-top: 5px;
  padding: 0px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  z-index: 20;
  border-radius: 10px;
  overflow: visible;
  min-height: calc(100vh - 240px); /* altura mínima para que el footer siempre esté abajo */
}

/* FONDO ANIMADO DETRÁS DE LAS CARTAS */
.cards-grid-background {
  position: absolute; /* ahora se mueve con el contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* cubre todo el contenedor */
  background: linear-gradient(-45deg, #271db9, #788e2f, #535c21, #271db9);
  animation: gradientShift 15s ease infinite;
  border-radius: 10px;
  z-index: 10; /* detrás de las cartas */
  pointer-events: none;
}

/* Animación fondo */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animación de entrada cartas */
.fade-in-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

