.deck-image2 {
  width: 430px; /* más grande */
  max-width: 90%; /* que no desborde en móvil */
  height: auto;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* OPCIONAL: animación suave para ocultar */
.deck-image2.hide {
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
}

/* Contenedor de botones centrado y fijo */
.reading-buttons {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: sticky;
  bottom: 20px;
  z-index: 10;
}

/* Estilo base de botones */
.reading-buttons button {
  background-color: #f8c300;
  color: #000;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reading-buttons button:hover {
  background-color: #ffffff; /* Amarillo brillante o el color que quieras */
  color: #000;
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Botón activo cuando se pueden ver las cartas */
.reading-buttons button.active {
  background-color: #f8c300; /* Amarillo brillante o el color que quieras */
  color: #000;
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Efecto hover solo si está activo */
.reading-buttons button.active:hover {
  transform: scale(1.15);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  background-color: rgb(252, 252, 252);
  color: rgb(15, 70, 83);
}

/* Botón deshabilitado */
.reading-buttons button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  transform: none;
  box-shadow: none;
}
 