/* FONDO ANIMADO DETRÁS DE LAS CARTAS */
.cards-page-content {
  flex: 1;
  padding: 24px 20px;
  color: #fff;
  background: linear-gradient(-45deg, #1c1b1d, #18117a, #6591cb, #0c1f51);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 84vh;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* TEXTO DE BIENVENIDA */
.welcome-text {
  text-align: center;
  color: #6fbdea;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

/* BARAJA */
.deck-image {
  width: 200px;
  max-width: 90%;
  height: auto;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.deck-image.hide {
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
}
.deck-image-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Segunda baraja más grande */
.deck-image2 {
  width: 430px;
  max-width: 90%;
  height: auto;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.deck-image2.hide {
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
}

/* BOTONES DE LECTURA */
.reading-buttons {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: sticky;
  bottom: 20px;
  z-index: 10;
}

.reading-buttons button {
  background-color: #f8c300;
  color: #000;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reading-buttons button:hover {
  background-color: #ffffff;
  color: #000;
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.reading-buttons button.active {
  background-color: #f8c300;
  color: #000;
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.reading-buttons button.active:hover {
  transform: scale(1.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: rgb(15, 70, 83);
}
.reading-buttons button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  transform: none;
  box-shadow: none;
}

.highlight-third {
  box-shadow: 0 0 25px gold;
  transform: scale(1.15);
  transition: all 0.3s ease;
}

/* BOTONES EN MÓVIL */
.mobile-floating {
  display: none;
}
@media (max-width: 768px) {
  .mobile-floating {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    margin-bottom: 200px;
  }
  .desktop-only {
    display: none;
  }
}
